@charset "UTF-8";
/*
	css
	├── 基本設定
	├── 共用
	├── 套件修改
	├── 模組
	├── layout
	└── index
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
.btn { display: inline-block; font-weight: 600; font-size: 18px; line-height: 1.5; text-align: center; border: solid 1px; border-radius: 0.75em; box-sizing: border-box; outline: 0; cursor: pointer; font-family: 'Montserrat'; font-style: normal; line-height: 22px; background: #D50000; /* identical to box height */ color: #FFFFFF; transition: 0.3s ease; transition-property: color, border, outline, background, opacity, filter, box-shadow, transform; }
.btn-block { display: block; width: 100%; }
.btn-pill { border-radius: 2em; }
.btn-xsmall { padding: 0.308em 1em; font-size: 13px; }
.btn-small { padding: 0.6em 3em; font-size: 15px; }
.btn-medium { padding: 0.75em 2.688em; font-size: 16px; }
.btn-large { padding: 1em 2.688em; font-size: 16px; }
.btn { color: #fff; border-color: transparent; }
.btn:hover:not(:disabled):not(.disabled) { color: #fff; background: #1a1a1a; }
.btn-brand { color: #fff; background: #e8381c; border-color: transparent; }
.btn-brand:hover:not(:disabled):not(.disabled) { color: #fff; background: #ed614a; }
.btn-bg { color: #fff; border-color: transparent; }
.btn-bg:hover:not(:disabled):not(.disabled) { color: #fff; filter: brightness(110%) contrast(105%); }
.btn-white { color: #333; background: #fff; border-color: transparent; }
.btn.disabled, .btn:disabled { color: #333; background: #dadada; cursor: not-allowed; }
.btn_black { background: #000; color: #fff; border-radius: 1em; border: black solid 1px; }

.btn-outline { color: #333; background: transparent; border-color: initial; }
.btn-outline-color { color: #e8381c; }
.btn-outline-color:hover { color: #fff; background: #e8381c; border-color: #e8381c; }
.btn-outline-white { color: #fff; }
.btn-outline-white:hover { background: rgba(255, 255, 255, 0.1); }

.btn-rectangle { display: inline-block; font-weight: 600; font-size: 18px; line-height: 1.5; text-align: center; border: solid 2px; box-sizing: border-box; outline: 0; cursor: pointer; font-family: 'Montserrat'; font-style: normal; line-height: 22px; color: white; /* identical to box height */ }
.btn-rectangle:hover { background-color: red; border: solid 2px red; }

.btn-rectangle-black { display: inline-block; font-weight: 600; font-size: 18px; line-height: 1.5; text-align: center; border: black solid 2px; box-sizing: border-box; outline: 0; cursor: pointer; font-family: 'Montserrat'; font-style: normal; line-height: 22px; color: black; /* identical to box height */ }
.btn-rectangle-black:hover { background-color: black; border: solid 2px black; color: white; }

.tabs { font-size: 1.063rem; letter-spacing: 0; }
.tabs_item { display: inline-block; margin-right: 2.353em; }
.tabs_item a { display: block; padding: 0.5em 0; cursor: pointer; }
.tabs_item.active { font-weight: 500; background-color: black; color: white; }

.modal_header_tabs .tabs_item { margin: 0 0.706em; }

.tabCont_panel { display: none; }
.tabCont_panel.active { display: block; }

html { font-size: 16px; height: 100%; }

body { position: relative; min-height: 100%; display: -ms-flex; display: flex; -ms-flex-direction: column; flex-direction: column; font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "Microsoft JhengHei", "Microsoft YaHei", "SF Pro TC", "SF Pro Display", "SF Pro Icons", "PingFang TC", "LiHei Pro", sans-serif; line-height: initial; letter-spacing: 0; color: #333; background: #f9f9f9; }

.fa, .far, .fas { font-family: "Montserrat", "Montserrat-Bold", "Font Awesome 5 Free", "Font Awesome 5 Pro", "Open Sans", Helvetica, Arial, "微軟正黑體", "Microsoft JhengHei", "Microsoft YaHei", "LiHei Pro", sans-serif; }

.transition { -o-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease; }

a { color: inherit; text-decoration: none; outline: 0; transition: 0.3s ease; transition-property: color, border-color, background-color, opacity, filter, transform; }

a:hover { text-decoration: none; }

a:focus { text-decoration: none; }

img { max-width: 100%; }

label { font-size: 16px; }

[type=checkbox], [type=radio] { width: 1em; height: 1em; vertical-align: middle; }

::-moz-placeholder { color: #ccc; }

:-ms-input-placeholder { /** notice that ie has only a single colon) */ color: #ccc; }

::-webkit-input-placeholder { color: #ccc; }

::placeholder { color: #ccc; }

tr, th, td { margin: initial; padding: initial; line-height: 1.5; }

.text-color { color: blue; }

.text-white { color: #fff; }

.text-gray { color: #ccc; }

.text-dark { color: #333; }

.text-color-reset { color: #333; }

.text-red { color: #e8381c; }

.bg-color { background: blue; }

.bg-gray { background: #F2F2F2; }

.bg-black { background: #000; }

h1, .h1 { font-size: 40px; }

h2, .h2 { font-size: 32px; }

h3, .h3 { font-size: 28px; }

h4, .h4 { font-size: 24px; }

h5, .h5 { font-size: 20px; }

h6, .h6 { font-size: 16px; }

.font-40 { font-size: 40px; }

.font-24 { font-size: 24px; }

.font-xxl { font-size: 28px; }

.font-xl { font-size: 22px; }

.font-l { font-size: 18px; }

.font-m { font-size: 16px; }

.font-s { font-size: 14px; }

.font-xs { font-size: 12px; }

.fon-weight-l { font-weight: 300; }

.fon-weight-400 { font-weight: 400; }

.fon-weight-600 { font-weight: 600; }

.fon-weight-xl { font-weight: 700; }

.l-h-25 { line-height: 25px; }

.l-h-30 { line-height: 30px; }

.list-style-decimal { list-style: decimal; }

.text-center { text-align: center; }

.text-left { text-align: left; }

.text-right { text-align: right; }

.valign-middle { vertical-align: middle; }

.opacity-30 { opacity: .3; }

.opacity-60 { opacity: .6; }

.opacity-80 { opacity: .8; }

.breadcrumb .active { color: blue; }

#loader { position: fixed; left: 50%; top: 50%; z-index: 99999999; width: 150px; height: 150px; margin: -75px 0 0 -75px; background: url(../images/loaging.gif) no-repeat; background-size: cover; -webkit-animation: spin 2s linear infinite; animation: spin 2s linear infinite; }

.mask { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.5); }

.flex-1 { -ms-flex: 1 1 0; flex: 1 1 0; }

.w-6em { width: 6em; }

.w-8em { width: 8em; max-width: 100%; }

.m-left-auto { margin-left: auto; }

.h-50-window { height: 50vh; }

.h-fill-window { height: calc(100vh - (4.1 * 16px)); }

@media (min-width: 576px) { .h-sm-fill-window { height: calc(100vh - (4.1 * 18px)); } }
.overflow-x-hidden { overflow-x: hidden; }

.overflow-y-auto { overflow-y: auto; }

.scrollbar::-webkit-scrollbar-track { background-color: #fff; -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2); }

.scrollbar::-webkit-scrollbar { height: 8px; width: 8px; background-color: #F5F5F5; }

.scrollbar::-webkit-scrollbar-thumb { border-radius: 10px; background-color: #aaa; -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2); }

.inner { max-width: 900px; margin-left: auto; margin-right: auto; }

.inner-1200 { max-width: 1200px; display: flex; justify-content: space-between; padding: 0 8px; height: 100%; margin-left: auto; margin-right: auto; }

.footerWrap { font-size: 0.75rem; line-height: 1.25; text-align: center; background-color: white; }

.footer_item { -ms-flex: 1 1 4em; flex: 1 1 4em; }

.footer_item_icon { width: 2em; }

.footer_item_text { display: block; }

.copyright { padding: 2em 1em; font-size: 13px; font-weight: 200; line-height: 1.25; letter-spacing: 0.15em; text-align: center; color: #000; background: #fff; }

.footer_img_outline { width: 35px; height: 35px; border-radius: 100%; align-items: center; justify-content: center; display: flex; border: 1px solid #979797; box-sizing: border-box; box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15); }
.footer_img_outline .footer_item-img { border-radius: 100%; width: 17px; height: 17px; align-items: center; justify-content: center; }

.footer { font-size: 0.875rem; color: #fff; background: black; padding: 2em; }
.footer .inner { padding: 1px 0 30px; }
.footer_title { margin: 0 0 1em; font-size: 1.5rem; font-weight: 600; }
.footer_info { padding-left: 1.5em; letter-spacing: 0.05em; line-height: 1.5; color: rgba(255, 255, 255, 0.8); }
.footer_info .fa-fw { margin-left: -1.5em; margin-right: 0.25em; text-indent: -0.25em; }
.footer_socialIcon { margin-right: 0.55em; font-size: 40px; }
.footer_brands { font-size: 0; margin: 0; }
.footer_brands li { display: inline-block; }
.footer_brands_item { display: block; padding: 10px; background: #fff; border-radius: 5px; box-sizing: border-box; }
.footer_brands .swiper-pagination { position: static; margin-top: 0.5rem; }
.footer a:hover { color: blue; }
@media (min-width: 992px) { .footer .inner { padding: 120px 0 50px; }
  .footer_item { margin-top: 0; padding: 0px 5px; }
  .footer_socialIcon { margin-right: 0.8em; }
  .footer_brands { max-width: 544px; } }

.footer_copyright { padding-right: 20px; font-size: 12px; line-height: 4.285em; text-align: center; color: #fff; height: 54px; }
@media (min-width: 768px) { .footer_copyright { padding-right: 0; font-size: 0.875rem; } }

.headerWrap { height: 4rem; }

.header { position: fixed; z-index: 99; top: 0; left: 0; right: 0; height: 4rem; line-height: 4rem; background: #f9f9f9; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15); font-family: 'Montserrat-Bold'; }

.inner { display: flex; justify-content: space-between; padding: 0 8px; height: 100%; }

* { box-sizing: border-box; padding: 0; margin: 0; }

body { font-family: "Roboto", sans-serif; font-size: 0.925rem; }

a { text-decoration: none; }

/*
|-----------------------------------
| Start navbar logo or brand etc..
|-----------------------------------
*/
  /* |----------------------------------- | Start navbar menu |-----------------------------------
//   */
.nav { font-size: 1rem; letter-spacing: 0.2em; }
@media (max-width: 1199.98px) { .nav { position: fixed; top: 0; left: 0; right: 0; bottom: 0; display: flex; justify-content: center; align-items: center; transition: .5s ease; }
  .nav .mask { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.7); }
  .nav_cont { position: absolute; top: 0; right: 0; bottom: 0; display: flex; flex-direction: column; width: 300px; max-width: 75%; height: 100%; padding: 24px; background: #fff; overflow-y: auto; opacity: 0; transform: translateX(50%); transition: .5s ease; } }

.table { color: #333; }

.g-recaptcha > * { display: block; margin: 0 auto; }

@media (max-width: 365px) { .g-recaptcha { transform: scale(0.83); transform-origin: 0 0; } }
.list-unstyled { list-style: none; margin: 0; padding: 0; }

.list-decimal { list-style: decimal; padding-left: 1.25em; }

.imgfit { /*需要裁切的圖 (比例須個別另下) */ display: block; position: relative; overflow: hidden; text-align: left; }

.imgfit-1x1 { /* 寬高 1:1; */ padding-top: 100%; }

.imgfit-3x2 { /* 寬高 3:2 */ padding-top: 66.66%; }

.imgfit-3x4 { /* 寬高 3:4 */ padding-top: 133.33%; }

.imgfit-newslist { /* 寬高 277x208 */ padding-top: 75%; }

.imgfit img { position: absolute; top: 0; width: 100%; height: 100%; object-fit: cover; }

.imgfit-contain img { object-fit: contain; }

.imgfit-scale-down img { object-fit: scale-down; }

@media screen\0 { .imgfit { z-index: 0; }
  .imgfit img { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: auto; width: 100% !important; height: auto !important; } }
/*圖文編輯器*/
.editor { font-size: 1rem; font-weight: 400; line-height: 1.75; word-wrap: break-word; word-break: break-word; clear: both; }

.editor:after { content: ""; display: block; height: 0; clear: both; }

.editor img { max-width: 100%; height: auto !important; vertical-align: baseline; }

.editor iframe { max-width: 100%; }

@media (max-width: 991.98px) { .editor iframe[src*="youtube"], .editor iframe[src*="vimeo"], .editor iframe[src*="facebook"], .editor iframe[src*="instagram"] { width: 100%; /*height: 56.25%;*/ height: -webkit-calc( (100vw - 20px) * 0.5625); height: -moz-calc( (100vw - 20px) * 0.5625); height: calc( (100vw - 20px) * 0.5625); } }
.production_item { background-image: url("/images/index_production-equipment_bg.png"); background-size: 100%; height: 230px; }

.qulaity_item { background-image: url("/images/index_quality-control-system_bg.png"); background-size: 100%; height: 230px; }

.esg_item { background-image: url("/images/index_ESG_bg.png"); background-size: 100%; height: 230px; }

.production p { color: white; }

.top_line { display: flex; align-items: center; flex-direction: column; }
.top_line::before { content: ""; border-top: 1px solid black; width: 52px; }

h3 { font-size: 42px; line-height: 51px; }

.newproduct { height: 400px; position: relative; }

.newproduct_swiper { width: 70vw; margin: auto; }

.pic { width: 70vw; margin: auto; }

.newproduct1 { background-image: url("../images/new_product1.png"); background-size: cover; padding-top: 66%; position: relative; }

.newproduct1_box { top: 0; position: absolute; z-index: 1; width: 7.59%; }

.newproduct1_box-1 { margin-top: 11.77%; margin-left: 20%; }

.newproduct1_box-2 { margin-top: 21.9%; margin-left: 23.29%; }

.newproduct1_box-3 { margin-top: 32.02%; margin-left: 26.45%; }

.newproduct1_box-4 { margin-top: 43.79%; margin-left: 30.37%; }

.newproduct1_box-5 { margin-top: 53.92%; margin-left: 33.79%; }

.newproduct1_box-6 { margin-top: 4.93%; margin-left: 55.44%; }

.newproduct1_box-7 { margin-top: 13.41%; margin-left: 60.75%; }

.newproduct1_box-8 { margin-top: 22.65%; margin-left: 66.07%; }

.newproduct1_box-9 { margin-top: 33.29%; margin-left: 71.26%; }

.newproduct1_box-10 { margin-top: 45.06%; margin-left: 78.22%; }

.newproduct1_trigger { display: block; padding-top: 100%; border-radius: 50%; color: white; background: rgba(0, 0, 0, 0.3); opacity: .8; }
.newproduct1_trigger:before { content: "+"; position: absolute; top: 0; left: 0; right: 0; bottom: 0; display: flex; margin: 20%; align-items: center; justify-content: center; border-radius: 50%; background: #FF0000; }

.newproduct1_target { z-index: -1; opacity: 0; visibility: hidden; position: absolute; top: 100%; left: 50%; margin-left: 20%; width: 666.66%; transform: translateX(-50%); transition: opacity .3s ease; }

.newproduct1_box.open { z-index: 2; }
.newproduct1_box.open .newproduct1_target { opacity: 1; visibility: visible; }

.Hide { display: none; }

.production_item { display: flex; flex-direction: column; justify-content: center; }
.production_item_p { font-size: 32px; font-weight: 700; }

.qulaity_item { display: flex; flex-direction: column; justify-content: center; }
.qulaity_item_p { font-size: 32px; font-weight: 700; }

.esg_item { display: flex; flex-direction: column; justify-content: center; }
.esg_item_p { font-size: 32px; font-weight: 700; }

.titlebgimg { background: url(/images/title.jpg); width: 66vw; object-fit: cover; }

.formula { height: 60vw; display: flex; flex-direction: column; justify-content: center; object-fit: cover; }

.title_item p { text-align: left; margin: 0 6em; }
.title_item .more { margin: 0 7em; text-align: left; }
@media (max-width: 375px) { .title_item .more { text-align: center; margin: 1em 0; } }

.formula { background-image: url("/images/index_formula_bg.png"); object-fit: cover; }

.formula_itemimg { background-color: white; border-radius: 100%; width: 140px; height: 140px; align-items: center; justify-content: center; }
.formula_itemimg img { border-radius: inherit; }

.img_outline { width: 150px; height: 150px; border-radius: 100%; align-items: center; justify-content: center; display: flex; border: 2px solid gray; }

.newproduction { background-image: url("https://fakeimg.pl/585x389"); }

.formula_top_line { display: flex; align-items: center; flex-direction: column; }
.formula_top_line::before { content: ""; border-top: 2px solid white; width: 52px; }

.free_trial { display: flex; justify-content: center; margin: 1em; }

.free_trial_inner { display: flex; align-items: center; }

.trouble_text { padding: 0 10px; }

.production_btn { display: flex; justify-content: center; }
.production_btn a { width: 180px; height: 48px; display: flex; justify-content: center; align-items: center; }

.btn_seeall { width: 121px; height: 40px; margin: 1em; background-color: white; color: #000; border-radius: 19px; }

.map { background-image: url("../images/map.png"); background-size: cover; width: 100vw; height: 32vw; position: relative; }

.content_bar { position: absolute; right: 0; bottom: 0; display: flex; flex-direction: column; margin: 3em 6em; }

.img_outline-img { background: white; width: 50px; height: 50px; border-radius: 100%; align-items: center; justify-content: center; display: flex; border: 1px solid #D6D6D6; box-sizing: border-box; box-shadow: 0px 1px 6px rgba(0, 0, 0, 0.15); }
.img_outline-img .content_item-img { background-color: white; border-radius: 100%; width: 24px; height: 24px; align-items: center; justify-content: center; }

.about_text { width: 790px; margin: auto; text-align: left; padding: 1em; }

.Toolstitle_img { position: relative; text-align: center; color: white; }

.centered { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 70px; font-weight: 600; }
.centered_img { width: 40px; height: 17px; position: absolute; top: 40%; left: 50%; transform: translate(-50%, -50%); font-size: 70px; font-weight: 600; }

.centered_p { position: absolute; top: 60%; left: 50%; transform: translate(-50%, -50%); font-size: 28px; font-weight: 400; margin: 1em 0; }

.centered_tooling { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); font-size: 40px; font-weight: 600; }

.fastener_text { width: 790px; margin: auto; text-align: left; padding: 1em; }

.factory_img img { width: 80vw; height: 28vw; margin: auto; }

.plating_img img { width: 60vw; height: 40vw; margin: auto; }

.heat { width: 790px; }

.heat_li { margin: 1em 0; }

.performance_text { text-align: left; margin: auto; width: 790px; }

.inner_ul { max-width: 1000px; margin-left: auto; margin-right: auto; }

.sticky { position: fixed; width: 100%; left: 0; top: 0; z-index: 100; border-top: 0; }

.belgian_img { height: 790px; display: flex; justify-content: center; }

/*# sourceMappingURL=style.css.map */
