@charset "UTF-8";
/*
	css
	├── 基本設定
	├── 共用
	├── 套件修改
	├── 模組
	├── layout
	└── index
*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
.btn { display: inline-block; font-weight: 600; font-size: 18px; line-height: 1.5; text-align: center; border: solid 1px; border-radius: 0.75em; box-sizing: border-box; outline: 0; cursor: pointer; font-family: 'Montserrat'; font-style: normal; line-height: 22px; background: #D50000; /* identical to box height */ color: #FFFFFF; transition: 0.3s ease; transition-property: color, border, outline, background, opacity, filter, box-shadow, transform; }
.btn-block { display: block; width: 100%; }
.btn-pill { border-radius: 2em; }
.btn-xsmall { padding: 0.308em 1em; font-size: 13px; }
.btn-small { padding: 0.6em 3em; font-size: 15px; }
.btn-medium { padding: 0.75em 2.688em; font-size: 16px; }
.btn-large { padding: 1em 2.688em; font-size: 16px; }
.btn { color: #fff; border-color: transparent; }
.btn:hover:not(:disabled):not(.disabled) { color: #fff; background: #1a1a1a; }
.btn-brand { color: #fff; background: #e8381c; border-color: transparent; }
.btn-brand:hover:not(:disabled):not(.disabled) { color: #fff; background: #ed614a; }
.btn-bg { color: #fff; border-color: transparent; }
.btn-bg:hover:not(:disabled):not(.disabled) { color: #fff; filter: brightness(110%) contrast(105%); }
.btn-white { color: #333; background: #fff; border-color: transparent; }
.btn.disabled, .btn:disabled { color: #333; background: #dadada; cursor: not-allowed; }

.btn-outline { color: #333; background: transparent; border-color: initial; }
.btn-outline-color { color: #e8381c; }
.btn-outline-color:hover { color: #fff; background: #e8381c; border-color: #e8381c; }
.btn-outline-white { color: #fff; }
.btn-outline-white:hover { background: rgba(255, 255, 255, 0.1); }

html { font-size: 16px; height: 100%; }

body { position: relative; min-height: 100%; display: -ms-flex; display: flex; -ms-flex-direction: column; flex-direction: column; font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, "微軟正黑體", "Microsoft JhengHei", "Microsoft YaHei", "SF Pro TC", "SF Pro Display", "SF Pro Icons", "PingFang TC", "LiHei Pro", sans-serif; line-height: initial; letter-spacing: 0; color: #333; background: #f9f9f9; }

.fa, .far, .fas { font-family: "Montserrat-Bold", "Font Awesome 5 Free", "Font Awesome 5 Pro", "Open Sans", Helvetica, Arial, "微軟正黑體", "Microsoft JhengHei", "Microsoft YaHei", "LiHei Pro", sans-serif; }

.transition { -o-transition: all 0.3s ease; -webkit-transition: all 0.3s ease; -moz-transition: all 0.3s ease; transition: all 0.3s ease; }

a { color: inherit; text-decoration: none; outline: 0; transition: 0.3s ease; transition-property: color, border-color, background-color, opacity, filter, transform; }

a:hover { text-decoration: none; }

a:focus { text-decoration: none; }

label { font-size: 16px; }

[type=checkbox], [type=radio] { width: 1em; height: 1em; vertical-align: middle; }

::-moz-placeholder { color: #ccc; }

:-ms-input-placeholder { /** notice that ie has only a single colon) */ color: #ccc; }

::-webkit-input-placeholder { color: #ccc; }

::placeholder { color: #ccc; }

tr, th, td { margin: initial; padding: initial; line-height: 1.5; }

.text-color { color: blue; }

.text-white { color: #fff; }

.text-gray { color: #ccc; }

.text-dark { color: #333; }

.text-color-reset { color: #333; }

.text-red { color: #e8381c; }

.bg-color { background: blue; }

h1, .h1 { font-size: 40px; }

h2, .h2 { font-size: 32px; }

h3, .h3 { font-size: 28px; }

h4, .h4 { font-size: 24px; }

h5, .h5 { font-size: 20px; }

h6, .h6 { font-size: 16px; }

.font-l { font-size: 18px; }

.font-m { font-size: 16px; }

.font-s { font-size: 14px; }

.font-xs { font-size: 12px; }

.text-center { text-align: center; }

.text-left { text-align: left; }

.text-right { text-align: right; }

.valign-middle { vertical-align: middle; }

.opacity-30 { opacity: .3; }

.opacity-60 { opacity: .6; }

.opacity-80 { opacity: .8; }

.breadcrumb .active { color: blue; }

#loader { position: fixed; left: 50%; top: 50%; z-index: 99999999; width: 150px; height: 150px; margin: -75px 0 0 -75px; background: url(../images/loaging.gif) no-repeat; background-size: cover; -webkit-animation: spin 2s linear infinite; animation: spin 2s linear infinite; }

.mask { position: fixed; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.5); }

.flex-1 { -ms-flex: 1 1 0; flex: 1 1 0; }

.w-6em { width: 6em; }

.w-8em { width: 8em; max-width: 100%; }

.h-50-window { height: 50vh; }

.h-fill-window { height: calc(100vh - (4.1 * 16px)); }

@media (min-width: 576px) { .h-sm-fill-window { height: calc(100vh - (4.1 * 18px)); } }
.overflow-x-hidden { overflow-x: hidden; }

.overflow-y-auto { overflow-y: auto; }

.scrollbar::-webkit-scrollbar-track { background-color: #fff; -webkit-box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.2); }

.scrollbar::-webkit-scrollbar { height: 8px; width: 8px; background-color: #F5F5F5; }

.scrollbar::-webkit-scrollbar-thumb { border-radius: 10px; background-color: #aaa; -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2); }

@media (max-width: 1199.98px) { .logo { padding: 0 18px; }
  .navToggle { float: right; padding: 0 1.125em; font-size: 20px; cursor: pointer; }
  .init.header.open { background: #000; } }
@media (min-width: 1200px) { .header_cont { height: 4rem; line-height: 4rem; padding: 0 60px; }
  .navToggle.navToggle { display: none; }
  .init.header { padding: 1rem 0; font-size: 1.125rem; letter-spacing: 0.05em; }
  .init .logo img { height: 60px; } }
@media (max-width: 1199.98px) { .navWrap { visibility: hidden; opacity: 0; position: fixed; top: 3.75rem; bottom: 0; left: 0; right: 0; transition: .3s ease; }
  .navWrap .mask { position: absolute; }
  .navWrap.open { visibility: visible; opacity: 1; }
  .navWrap.open .nav { transform: translateX(0); }
  .nav { position: relative; float: right; display: flex; flex-direction: column; height: 100%; width: 250px; padding: 1em 0; font-size: 18px; line-height: 1.5; letter-spacing: 0.05em; background: #fff; overflow-y: auto; box-sizing: border-box; transform: translateX(100%); transition: .3s ease; }
  .nav a { display: block; padding: 0.5em 20px; }
  .nav_item > a { font-weight: 600; }
  .nav_trigger:before { content: "\f054"; float: right; padding: 0.5em; font-family: "Montserrat-Bold", "Font Awesome 5 Free", "Font Awesome 5 Pro", "Open Sans", Helvetica, Arial, "微軟正黑體", "Microsoft JhengHei", "Microsoft YaHei", "LiHei Pro", sans-serif; font-size: 12px; font-weight: bold; transition: .3s ease; }
  .nav_dropdown { max-height: 0; opacity: 0; overflow: hidden; transition: .3s ease; }
  .nav_dropdown ul { margin: 0 20px 1.25em; padding: 0.5em 0 1em; font-size: 14px; border: solid rgba(51, 51, 51, 0.2); border-width: 1px 0; }
  .nav_dropdown a { padding: 0.4285em 0; }
  .nav_social { display: flex; justify-content: space-around; padding: 1em 20px 0; font-size: 24px; }
  .nav_social a { padding: 0.25em; opacity: .4; }
  .nav_social a:active { color: blue; opacity: 1; }
  .nav_item.open .nav_trigger { color: blue; }
  .nav_item.open .nav_trigger:before { transform: rotate(90deg); }
  .nav_item.open > .nav_dropdown { max-height: 200vh; opacity: 1; } }
@media (min-width: 1200px) { .navWrap { float: right; margin: 0 -1em; }
  .navWrap .mask { visibility: hidden; opacity: 0; }
  .nav a { display: block; padding: 0 0.25em; }
  .nav a:hover { color: inherit; }
  .nav_item { position: relative; display: inline-block; vertical-align: top; transition: .3s ease; }
  .nav_trigger:after { content: "\f107"; margin-left: 0.25em; font-family: "Montserrat-Bold", "Font Awesome 5 Free", "Font Awesome 5 Pro", "Open Sans", Helvetica, Arial, "微軟正黑體", "Microsoft JhengHei", "Microsoft YaHei", "LiHei Pro", sans-serif; font-size: 12px; font-weight: bold; line-height: 1; }
  .nav_dropdown { position: absolute; top: 100%; left: 50%; min-width: 100%; padding: 1em 0 1.5em; font-size: 0.875rem; line-height: 1.5; white-space: nowrap; color: #333; background: #fff; border: solid 1px rbga(#333, 0.1); box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1); transform: translateX(-50%); transition: opacity .3s ease; opacity: 0; visibility: hidden; }
  .nav_dropdown a { padding: 0.25rem 1.5em; }
  .nav_dropdown a:hover { color: blue; }
  .nav_item:hover { background: #e8381c; }
  .nav_item:hover .nav_dropdown { opacity: 1; visibility: visible; }
  .nav_social { display: none; } }
.fixedBtns { position: fixed; z-index: 9; bottom: 0; right: 0; margin: 10px; }
.fixedBtns a { display: flex; flex-direction: column; justify-content: center; align-items: center; width: 48px; height: 48px; margin-top: 8px; line-height: 1; text-align: center; border-radius: 50%; border: solid 1px rgba(51, 51, 51, 0.1); box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15); }
.fixedBtns_top { color: blue; background: #fff; font-size: 16px; font-weight: 600; }
.fixedBtns_top .fas { margin-bottom: -0.125em; font-size: 14px; }
.fixedBtns_mail { color: #fff; background: blue; font-size: 12px; font-weight: 500; }
.fixedBtns_mail .fas { font-size: 18px; }
.fixedBtns_mail img { width: 1.75em; }
.fixedBtns_mail span { margin-top: 0.05em; }
.fixedBtns_mail:hover { background: #3333ff; }
@media (min-width: 1200px) { .fixedBtns { margin: 30px 2.25rem; }
  .fixedBtns a { width: 60px; height: 60px; margin-top: 12px; }
  .fixedBtns_top { font-size: 24px; }
  .fixedBtns_top .fas { font-size: 20px; }
  .fixedBtns_mail { font-size: 14px; }
  .fixedBtns_mail .fas { font-size: 28px; }
  .fixedBtns_mail img { width: 2.285em; }
  .fixedBtns_mail span { margin-top: 0.2em; } }

.title_item h3 { width: 510px; margin: auto; text-align: left; }
.title_item p { width: 510px; margin: auto; text-align: left; }
.title_item .more { width: 510px; margin: auto; text-align: left; }

.formula { background: lightblue; }

.formula_itemimg { background-color: blue; border-radius: 70px; width: 140px; height: 140px; align-items: center; justify-content: center; }
.formula_itemimg img { border-radius: inherit; }

.img_outline { background-color: black; width: 150px; height: 150px; border-radius: 70px; align-items: center; justify-content: center; display: flex; }

.newproduction { background-image: url("https://fakeimg.pl/585x389"); }

footer .footerWrap { font-size: 0.75rem; line-height: 1.25; text-align: center; padding: 10px 20px 10px 20px; background-color: white; }

.footer_item { -ms-flex: 1 1 4em; flex: 1 1 4em; }

.footer_item_icon { width: 2em; }

.footer_item_text { display: block; }

.copyright { padding: 2em 1em; font-size: 13px; font-weight: 200; line-height: 1.25; letter-spacing: 0.15em; text-align: center; color: #000; background: #fff; }

.footer { font-size: 0.875rem; color: #fff; background: black; padding: 1em; }
.footer .inner { padding: 1px 0 30px; }
.footer_title { margin: 0 0 1em; font-size: 1.5rem; font-weight: 600; }
.footer_info { padding-left: 1.5em; letter-spacing: 0.05em; line-height: 1.5; color: rgba(255, 255, 255, 0.8); }
.footer_info .fa-fw { margin-left: -1.5em; margin-right: 0.25em; text-indent: -0.25em; }
.footer_socialIcon { margin-right: 0.55em; font-size: 40px; }
.footer_brands { font-size: 0; margin: 0; }
.footer_brands li { display: inline-block; }
.footer_brands_item { display: block; padding: 10px; background: #fff; border-radius: 5px; box-sizing: border-box; }
.footer_brands .swiper-pagination { position: static; margin-top: 0.5rem; }
.footer a:hover { color: blue; }
@media (min-width: 992px) { .footer .inner { padding: 120px 0 50px; }
  .footer_item { margin-top: 0; padding: 0px 5px; }
  .footer_socialIcon { margin-right: 0.8em; }
  .footer_brands { max-width: 544px; } }

.footer_copyright { padding-right: 20px; font-size: 12px; line-height: 4.285em; text-align: center; color: #fff; }
@media (min-width: 768px) { .footer_copyright { padding-right: 0; font-size: 0.875rem; } }

.headerWrap { height: 4rem; }

.header { position: fixed; z-index: 99; top: 0; left: 0; right: 0; height: 4rem; line-height: 4rem; background: #f9f9f9; box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.15); font-family: 'Montserrat-Bold'; }

.inner { display: flex; justify-content: space-between; padding: 0 8px; height: 100%; }

* { box-sizing: border-box; padding: 0; margin: 0; }

body { font-family: "Roboto", sans-serif; font-size: 0.925rem; }

a { text-decoration: none; }

.container { width: 1170px; position: relative; margin-left: auto; margin-right: auto; padding-left: 15px; padding-right: 15px; }

.navbar, .navbar .container { width: 100%; display: flex; align-items: center; justify-content: space-between; }
@media (max-width: 768px) { .navbar, .navbar .container { display: block; } }

.navbar { padding: 1.15rem 1rem; box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.035); background-color: #fff; /*
|-----------------------------------
| Start navbar logo or brand etc..
|-----------------------------------
*/ /*
|-----------------------------------
| Start navbar menu
|-----------------------------------
*/ }
@media (min-width: 576px) { .navbar .container { max-width: 540px; } }
@media (min-width: 768px) { .navbar .container { max-width: 720px; } }
@media (min-width: 992px) { .navbar .container { max-width: 960px; } }
@media (min-width: 1200px) { .navbar .container { max-width: 1140px; } }
.navbar .navbar-header { display: flex; align-items: center; }
@media (max-width: 768px) { .navbar .navbar-header { width: 100%; display: flex; align-items: center; justify-content: space-between; flex-direction: row-reverse; } }
.navbar .navbar-header .navbar-toggler { border-radius: 5px; background-color: transparent; cursor: pointer; border: none; display: none; outline: none; }
@media (max-width: 768px) { .navbar .navbar-header .navbar-toggler { display: block; } }
.navbar .navbar-header .navbar-toggler span { height: 2px; width: 22px; background-color: #929aad; display: block; }
.navbar .navbar-header .navbar-toggler span:not(:last-child) { margin-bottom: 0.2rem; }
.navbar .navbar-header > a { font-weight: 500; color: #3c4250; }
.navbar .navbar-menu { display: flex; flex-basis: auto; flex-grow: 1; align-items: center; }
@media (max-width: 768px) { .navbar .navbar-menu { display: none; text-align: center; } }
.navbar .navbar-menu .navbar-nav { margin-left: auto; flex-direction: row; display: flex; padding-left: 0; margin-bottom: 0; list-style: none; }
@media (max-width: 768px) { .navbar .navbar-menu .navbar-nav { width: 100%; display: block; border-top: 1px solid #EEE; margin-top: 1rem; } }
.navbar .navbar-menu .navbar-nav > li > a { color: #3c4250; text-decoration: none; display: inline-block; padding: 0.5rem 1rem; }
.navbar .navbar-menu .navbar-nav > li > a:hover { color: #66f; }
@media (max-width: 768px) { .navbar .navbar-menu .navbar-nav > li > a { border-bottom: 1px solid #EEE; } }
.navbar .navbar-menu .navbar-nav > li.active a { color: #66f; }
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown { list-style: none; position: absolute; top: 150%; left: 0; background-color: #fff; padding: 0.5rem 0; min-width: 160px; width: auto; white-space: nowrap; box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1); z-index: 99999; border-radius: 0.75rem; display: none; }
@media (max-width: 768px) { .navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown { position: relative; box-shadow: none; } }
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown li a { color: #3c4250; padding: 0.25rem 1rem; display: block; }
.navbar .navbar-menu .navbar-nav .navbar-dropdown .dropdown.show { display: block !important; }
.navbar .navbar-menu .navbar-nav .dropdown > .separator { height: 1px; width: 100%; margin: 9px 0; background-color: #eee; }
.navbar .navbar-dropdown { position: relative; }

.navbar .navbar-header > a span { color: #66f; }

.navbar .navbar-header h4 { font-weight: 500; font-size: 1.25rem; }
@media (max-width: 768px) { .navbar .navbar-header h4 { font-size: 1.05rem; } }

.nav { font-size: 1rem; letter-spacing: 0.2em; }
@media (max-width: 1199.98px) { .nav { z-index: -999; opacity: 0; visibility: hidden; position: fixed; top: 0; left: 0; right: 0; bottom: 0; display: flex; justify-content: center; align-items: center; transition: .5s ease; }
  .nav .mask { position: absolute; top: 0; left: 0; right: 0; bottom: 0; background: rgba(0, 0, 0, 0.7); }
  .nav_cont { position: absolute; top: 0; right: 0; bottom: 0; display: flex; flex-direction: column; width: 300px; max-width: 75%; height: 100%; padding: 24px; background: #fff; overflow-y: auto; opacity: 0; transform: translateX(50%); transition: .5s ease; }
  .nav_close { position: absolute; top: 0; right: 0; width: 1em; height: 1em; line-height: 1; padding: 1.25rem; box-sizing: content-box; font: bold 1rem "Montserrat-Bold", "Font Awesome 5 Free", "Font Awesome 5 Pro", "Open Sans", Helvetica, Arial, "微軟正黑體", "Microsoft JhengHei", "Microsoft YaHei", "LiHei Pro", sans-serif; text-align: center; cursor: pointer; }
  .nav_close:hover { opacity: .6; }
  .nav_item { display: flex; padding: 1.1875em 0; border-top: 1px solid rgba(255, 255, 255, 0.15); }
  .nav_item .fas { display: none; }
  .nav_trigger { min-width: 6em; font-size: 1.125em; }
  .nav_dropdown a { opacity: .8; }
  .nav.open { z-index: 999; opacity: 1; visibility: visible; }
  .nav.open .nav_cont { opacity: 1; transform: translateX(0); } }
@media (min-width: 1200px) { .nav { text-align: center; }
  .nav .desk-hide { display: none; }
  .nav_item { position: relative; display: inline-block; }
  .nav_item .fas { width: 1.5em; height: 1.5em; line-height: 1.5; margin-right: -1em; font-size: 0.75em; text-align: center; transform-origin: 50% 50%; transition: 0.3s ease; transition-property: transform; }
  .nav_trigger { padding: 0.5em 0.75em; }
  .nav_dropdown { position: absolute; top: 100%; left: 50%; padding: 0.75em 0; font-size: 0.8125em; line-height: 1.5; text-align: left; white-space: nowrap; background: #fff; border-top: 1px solid #e8381c; box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16); transition: 0.3s ease; transition-property: color, border, outline, background, opacity, filter, box-shadow, transform; opacity: 0; visibility: hidden; transform: translate(-50%, -3em); }
  .nav_dropdown a { display: block; padding: 0.25em 2em; }
  .nav_item:hover .nav_trigger { color: #e8381c; }
  .nav_item:hover .fas { transform: rotate(90deg); }
  .nav_item:hover .nav_dropdown { opacity: 1; visibility: visible; transform: translate(-50%, -2.5em); } }
.nav_trigger { font-size: 1.125em; }

.table { color: #333; }

.g-recaptcha > * { display: block; margin: 0 auto; }

@media (max-width: 365px) { .g-recaptcha { transform: scale(0.83); transform-origin: 0 0; } }
.list-unstyled { list-style: none; margin: 0; padding: 0; }

.list-decimal { list-style: decimal; padding-left: 1.25em; }

.imgfit { /*需要裁切的圖 (比例須個別另下) */ display: block; position: relative; overflow: hidden; text-align: left; }

.imgfit-1x1 { /* 寬高 1:1; */ padding-top: 100%; }

.imgfit-3x2 { /* 寬高 3:2 */ padding-top: 66.66%; }

.imgfit-3x4 { /* 寬高 3:4 */ padding-top: 133.33%; }

.imgfit img { position: absolute; top: 0; width: 100%; height: 100%; object-fit: cover; }

.imgfit-contain img { object-fit: contain; }

.imgfit-scale-down img { object-fit: scale-down; }

@media screen\0 { .imgfit { z-index: 0; }
  .imgfit img { position: absolute; z-index: 1; top: 0; left: 0; right: 0; bottom: 0; margin: auto; width: 100% !important; height: auto !important; } }
/*圖文編輯器*/
.editor { font-size: 1rem; font-weight: 400; line-height: 1.75; word-wrap: break-word; word-break: break-word; clear: both; }

.editor:after { content: ""; display: block; height: 0; clear: both; }

.editor img { max-width: 100%; height: auto !important; vertical-align: baseline; }

.editor iframe { max-width: 100%; }

@media (max-width: 991.98px) { .editor iframe[src*="youtube"], .editor iframe[src*="vimeo"], .editor iframe[src*="facebook"], .editor iframe[src*="instagram"] { width: 100%; /*height: 56.25%;*/ height: -webkit-calc( (100vw - 20px) * 0.5625); height: -moz-calc( (100vw - 20px) * 0.5625); height: calc( (100vw - 20px) * 0.5625); } }
.production_item { background-image: url("/images/title.jpg"); background-size: 100%; height: 230px; }

.production { height: 360px; }
.production p { color: white; }

.btn_seeall { position: absolute; right: 0; bottom: 0; }

.top_line { display: flex; align-items: center; flex-direction: column; }
.top_line::before { content: ""; border-top: 1px solid black; width: 52px; }

h3 { font-size: 42px; line-height: 51px; }

/*# sourceMappingURL=style.css.map */
