// 頁面index

.production_item {
  background-image: url("/images/index_production-equipment_bg.png");
  background-size: 100%;
  height: 230px;
}
.qulaity_item {
  background-image: url("/images/index_quality-control-system_bg.png");
  background-size: 100%;
  height: 230px;
}
.esg_item {
  background-image: url("/images/index_ESG_bg.png");
  background-size: 100%;
  height: 230px;
}

.production {
  // height: 360px;
 p{
   color: white;
 }

  
}



.top_line {
  display: flex;
  align-items: center;
  flex-direction: column;

  &::before {
    content: "";
    border-top: 1px solid black;
    width: 52px;
  }
}
h3 {
  font-size: 42px;
  line-height: 51px;
}

.tabCont{
  // height: 293px;
}