.production_item {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &_p {
    font-size: 32px;
    font-weight: 700;
  }
}

.qulaity_item {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &_p {
    font-size: 32px;
    font-weight: 700;
  }
}

.esg_item {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &_p {
    font-size: 32px;
    font-weight: 700;
  }
}

.titlebgimg {
  background: url(/images/title.jpg);
  width: 66vw;
  object-fit: cover;
}

.formula {
  height: 60vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  object-fit: cover;

}



.title_item {
  h3 {
    // width: 50vw;
    margin: auto;
    text-align: left;
  }

  p {
    // width: 50vw;
    margin: auto;
    text-align: left;
  }

  .more {
    // width: 50vw;
    margin: auto;
    text-align: left;
  }

  @media (max-width: 375px) {
    .more {
      text-align: center;
      margin: 1em 0;
    }
  }

}

.formula {
  background-image: url("/images/index_formula_bg.png");
  object-fit: cover;
}

.formula_itemimg {
  background-color: white;
  border-radius: 70px;
  width: 140px;
  height: 140px;
  align-items: center;
  justify-content: center;

  img {
    border-radius: inherit;
  }

}

.img_outline {
  width: 150px;
  height: 150px;
  border-radius: 70px;
  align-items: center;
  justify-content: center;
  display: flex;
  border: 2px solid gray;
}

.newproduction {
  background-image: url('https://fakeimg.pl/585x389');
}

.formula_top_line {
  display: flex;
  align-items: center;
  flex-direction: column;

  &::before {
    content: "";
    border-top: 2px solid white;
    width: 52px;
  }
}



.free_trial {
  display: flex;
  justify-content: center;
}

.free_trial_inner {
  display: flex;

  align-items: center;
}