.item{ 
  margin: 1em;
  &_header{
    padding: 1em;
  }
  border-radius: 10px;
  box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.25);
  background-color: #ffffff;
  p{
    font-size: 15px;
    font-weight: 500;
  }
  .date_title{
    font-size:30px
  }
}