// footer
.footerWrap{
	font-size: toUnit(12,rem);
	line-height: 1.25;
	text-align: center;
  padding: 10px 20px 10px 20px;
  background-color: white;
}
.footer_item{
	-ms-flex: 1 1 4em;
	flex: 1 1 4em;
}
.footer_item_icon{
	width: 2em;
}
.footer_item_text{
	display: block;
}
// .copyright{
// 	padding: 2em 1em;
// 	font-size: 1rem;
// 	font-weight: 200;
// 	line-height: 1.25;
// 	letter-spacing: 0.15em;
// 	text-align: center;
// 	color: $text-white;
// 	background: $bg-color;
// }
@include media-breakpoint-down(sm) {
}
@include media-breakpoint-up(sm) {
}
