@mixin truncate($lines) {
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $lines;
  -webkit-box-orient: vertical;
}

@mixin mask {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@mixin transition($property:'color, border, outline, background, opacity, filter, box-shadow, transform') {
transition: 0.3s ease;
transition-property: unquote($property);
}

@mixin shadow($size:1){
  @if $size == 1 {
      box-shadow: 0 3px 6px rgba(#000, .16);
  } @else {
      box-shadow: 0 2px 4px rgba(#000, .35);
  }
}

// 單位換算
// 例：想要的字大小為24px，繼承的字大小為12px，1rem = 16px
// - 轉 em  => toUnit(24/12)
// - 轉 rem => toUnit(24,rem)
@function toUnit($value,$unit:'em') {
  @if $unit == 'rem'{
    @return #{round($value / 16 * 1000) / 1000}#{$unit};
    // @return unquote("#{round($value / 16 * 1000) / 1000}#{$unit}");
  } @else {
    @return unquote("#{round($value * 1000) / 1000}#{$unit}");
  }
}
// 百分比換算 (到小數點後兩位)
@function percent($value){
  @return (round(percentage($value)*100) / 100);
}